<p style="margin:0 0 16px;"><%= t("comment_mailer.new_comment.body", name: @commenter.author_name) %></p>
<blockquote style="border-left:3px solid #e5e7eb;margin:0;padding:0 0 0 12px;white-space:pre-wrap;"><%= @comment.body %></blockquote>
